
/* Navigation wrapper */

.navigation-wrapper{
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* Logotipo + Links del navigation wrapper*/

.navigation-wrapper > .logo-link-wrapper {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .logo-link-wrapper > .logo-column img{
    width: auto;
    height: 30px;
    margin: 0px 60px 0px 30px;
}

.navigation-wrapper > .logo-link-wrapper > .links-column {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.navigation-wrapper > .logo-link-wrapper > .links-column > .title-column {
    color: #F5DB75;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: -1px;
}



.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper > .nav-link a{
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 120%;
    transition: 1s;
}

/* Efecto links-wrapper */

.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper > .nav-link a:hover {
    color:rgb(4, 190, 4);
    opacity: 85%;
}



.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper > .spark-chevron-down a{
    color:rgb(151, 148, 148);
    text-decoration: none;
    font-size: 120%;
    font-weight: 500;
    transition: 1s;
    margin-left: 22px;
}

.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper > .spark-chevron-down i{
    margin-left: 10px;
    font-size: 80%;
}

/* Efecto spark-chevron-down*/

.navigation-wrapper > .logo-link-wrapper > .links-column > .links-wrapper > .spark-chevron-down a:hover{
    color: rgb(4, 190, 4);
}



/* Create-len-login-signup-wrapper */

.navigation-wrapper > .create-len-login-signup-wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-right: 15px;
}



.navigation-wrapper > .create-len-login-signup-wrapper > .magnifying-glass i {
    color: hsl(231, 8%, 50%);
    font-size: 2em;
    transition: 1s;
}

/* Efecto lupa */

.navigation-wrapper > .create-len-login-signup-wrapper > .magnifying-glass i:hover {
    color: rgb(4, 190, 4);
}



